body
  padding-top: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.container
  width: 1080px
  margin: auto auto
  text-align: center

a
  color: #00B7FF
 
li
  list-style: none
  display: inline-block
  padding: 20px

li img
  max-width: 300px

img.border
  border: 20px solid #f4f4f4
