!!!5
html
  head
    title Draw Something Archives
    link(rel='stylesheet', href='/assets/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/stylesheets/jquery.lightbox-0.5.css')
    script(type='text/javascript', src='/assets/javascript/jquery.js')
    script(type='text/javascript', src='/assets/javascript/jquery.lightbox-0.5.pack.js')
    script(type='text/javascript', src='/assets/javascript/app.js')

  body 
    .container
      != body
