!!!5
html
  head
    title Draw Something Archives
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.lightbox-0.5.css')
    script(type='text/javascript', src='/javascript/jquery.js')
    script(type='text/javascript', src='/javascript/jquery.lightbox-0.5.pack.js')
    script(type='text/javascript', src='/javascript/app.js')
  body!= body
